<!DOCTYPE html>
<html>
<head>
  <title>BestPlaylist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class='navbar navbar-default navbar-fixed-top' role='navigation'>
    <div class='container'>
      <div class='navbar-header'>
        <a class='navbar-brand' href='/'>The Idea app</a>
      </div>
      <ul class='nav navbar-nav'>
        <li>
          <a href='/playlists'>Playlists</a>
        </li>
          <li>
            <a href='/pages/info'>info</a>
        </li>
      </ul>
    </div>
  </nav>

<div class='container'>
  <%= yield %>
</div>


<footer>
  <div class='container'>
    playlist
  </div>
</footer>

</body>
</html>
